<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <h6>FestiWink ;)</h6>
        <p class="text-justify"><i>FestiWink</i><small> An application for cheking parties and creating yours. What
            about adding your village one ;)</small></p>
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text"><small>Copyright &copy; 2022 FestiWink ;)</p></small>
        </div>
      </div>

      <div class=" row col-md-6">
        <h6 class="text-center">Contact information:</h6>
        <hr>
        <div class="col-xs-6 col-md-6">
          <ul class="footer-links">
            <li>Carmen García Guzmán</li>
            <li><small>c.garcia.guzman2@gmail.com</small></li>
          </ul>
          <div class=" row col-xs-6 col-md-6">
            <ul class="social-icons">
              <li><a class="github" href="https://github.com/Carms22"><i class="fa fa-github"></i></a></li>
              <li><a class="linkedin" href="https://www.linkedin.com/in/garciaguzman/"><i
                    class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-xs-6 col-md-6">
          <ul class="footer-links">
            <li>Violeta</li>
            <li><small>c.garcia.guzman2@gmail.com</small></li>
          </ul>
          <div class="row col-xs-6 col-md-6">
            <ul class="social-icons">
              <li><a class="github" href="https://github.com/violetaatkinson"><i class="fa fa-github"></i></a></li>
              <li><a class="linkedin" href="https://www.linkedin.com/in/violeta-atkinson-97b182134/"><i
                    class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-2">
        <h6>Go to:</h6>
        <ul class="footer-links">
          <li><small><i><a href="/about" class="nav-link text-white">About Us</a></i></small></li>
          <li><small><i><a href="/contactUs" class="nav-link text-white">Contact Us</a></i></small></li>
        </ul>
      </div>
    </div>
  </div>
</footer>