<nav class="navbar navbar-expand-lg transparent" style="background-color: #48285d;">
  <div class="container-fluid">
    <h2><a class="navbar-brand navbar-dark" href="/"> FestiWink ;)</a></h2>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-dark" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/festivals">Festivals</a>
        </li>
  
        {{#if currentUser}}

        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/profile">Profile</a>
        </li>

        <li class="nav-item ms-2">
          <a class="nav-link" aria-current="page" href="/festivals/create">Create Festival</a>
        </li>

        <li class="nav-item ms-2">
          <a class="nav-link text-white" aria-current="page" href="/logout">Logout</a>
        </li>

        {{else}}
        <li class="nav-item ms-2">
          <a class="nav-link text-white" aria-current="page" href="/register">Register</a>
        </li>
        <li class="nav-item ms-4">
          <a class="nav-link text-white" aria-current="page" href="/login">Login</a>
        </li>
        {{/if}}
      </ul>

      <form class="d-flex" role="search" action="/festivals/search" method="POST">
        <input class="form-control me-2" type="search" placeholder="Search by Category" name="category">
        {{!-- <input class="form-control me-1" type="search" placeholder="Search by Name" name="name"> --}}
        <button class="btn btn-outline-info" type="submit">Search</button>
      </form>
      {{#if currentUser}}
      <img src="{{currentUser.image}}" alt="" class="nav-bar-img" >
      {{/if}}
    </div>
  </div>
</nav>