/* 
Colores : #f6b3e5 , #c876ff , #7232f2, #20115b,,#48285d , #010108
Colores gradientes  linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
 */
 @font-face {
    font-family: FestiWink-font;
    src: url(font\Freedom-nZ4J.ttf);
  }
 .body-container {
    padding-bottom: 60px;
 }

/* DETAIL PAGE*/

.party {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.detail {
    background-color: #122932;
    color: white;
    height: 260px;
}

.detail-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    position: absolute;
    top: 48%;
    left: 32%;
}

.detail-card p {
    margin-left: 10px;
    margin-top: 5px;
}

.detail-desc {
    margin-top: 40px;
    margin-left: 35px;
    margin-bottom: 20px;
}

.info {
    margin-left: 30px;
}

.info-more {
    margin-left: 40px;
    margin-top: 15px;
}

.buttons-detail {
    display: flex;
    gap: 1%;
}

.comment {
    color: grey;
}

.author {
    text-transform: capitalize
}

.comment-grid {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-items: center;
   
}

.comment-card {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 1px 1px 15px 0.5px rgba(0, 0, 0, 0.125);
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
	background-color: white;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}


/* LOGIN PAGE*/

.img-loggin {
    height: 205px;
    width: 590px;
}

.img-loggin img {
    width: 650px;
    height: 700px;
}

.forms {
   margin-top: -100px;
   position: relative;
   left: 25%;
}


.form-2 {
    margin-top: -160px;
    position: relative;
    left: 25%;
}


.list-view {
    background: url("../images/2.png");
    height: 100vh;
    width: 100%;
    background-position: center 100%;
    background-repeat: repeat;
    background-size: cover;
}


/* HOME */

.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-x:initial;
    padding: 5px;
    scrollbar-width: 2%;
  }

  .myCard{
    height: 300px;
    margin: 10px;
    border-radius: 20px;
    object-fit: cover;
    flex: 0 0 auto;
    scroll-snap-align: center;
  }
  .scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
  }

  /* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey; 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #48285d; 
    border-radius: 2px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #48285d; 
  }

  .page-img{
    position: fixed;
    top: 0;
    left: 0;
    image-rendering: auto;
    margin: auto;
    width: 100%;
    height: auto;
    z-index: -1;
  }


.transparent{
    opacity: 0.7;
    -moz-opacity: 0.7;
    filter: alpha(opacity=70);
    -khtml-opacity: 0.7;
}


/*
NAVBAR
*/
.nav-link {
    font-size: 1.1em;
    margin: 0 15px;
    color: white;
}
.nav-bar-img{
    margin: 0 5px;
    background-color: #131417;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
/*
FOOTER
*/
.site-footer
{
  background-color:#48285d;
  padding:15px 0 10px;
  font-size:15px;
  line-height:24px;
  color:#d0c7c7;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:10px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:2px;
  letter-spacing:2px
}
.site-footer a
{
  color:#d0c7c7;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#d0c7c7
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#4a4c56
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:20px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.github:hover
{
  background-color:#131417
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/*
Create----Edit Form
*/

.backPink{
    font-family: FestiWink-font;
    color: white;
    padding: 20px;
    margin-bottom: -300px;
    width: 100%;
    height: auto;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(72,40,93,1) 52%, rgba(114,50,242,1) 100%);
}

.createEdif {
    font-family: FestiWink-font;
    position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    margin-bottom: -100px;
}
