<h1 class="title">Meet the developers</h1>

<div class="frame-person">
	<div class="person">
        <div class="person-info">
            <h2>Meet Viole</h2>
            <p>Hi, I'm a junior Front End Developer who likes to work on the visual
                parts of a website since I've been taking courses on ux / ui, illustrator
                and a bit of photoshop. I love videogames and of course dogs !
            </p>
            <ul class="social-icons move">
                <li><a class="github" href="https://github.com/violetaatkinson"><i
                            class="fa fa-github"
                        ></i></a></li>
                <li><a
                        class="linkedin"
                        href="https://www.linkedin.com/in/violeta-atkinson-97b182134/"
                    ><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
		<div class="person-img">
			<img src="/images/violetita.jpg" alt="violetita" />
		</div>
        
        
	</div>
	<div class="person">
        <div class="person-info">
            <h2>Meet Car</h2>
            <p>Hi, I'm a junior  Back End Developer who is very good at solving problems. In the past I have been studying programming for my role as a BIM modeler. I love painting warhammer and cat lover !
            </p>
            <ul class="social-icons move">
                <li><a class="github" href="https://github.com/Carms22"><i
                            class="fa fa-github"
                        ></i></a></li>
                <li><a
                        class="linkedin"
                        href="https://www.linkedin.com/in/garciaguzman/"
                    ><i class="fa fa-linkedin"></i></a></li>
            </ul>
        </div>
		<div class="person-img">
			<img src="/images/carmencita.jpeg" alt="carmencita" />
		</div>
</div>