

<div class="contact-container">
	<div class="left-col">
	</div>
	<div class="right-col">

		<h1 class="h1-contact-us">Contact us</h1>
		<p>Planning to have an amazing website? 
            <br>Tell us what you are looking for and how we can help you achieve it.</p>

		<form id="contact-form" method="post">
			<label for="name" class="label-contact-us">Full name</label>
			<input class="input-contactus"
				type="t"
				id="name"
				name="name"
				placeholder="Your Full Name"
				required
			/>
			<label for="email" class="label-contact-us">Email Address</label>
			<input class="input-contactus"
				type="email"
				id="email"
				name="email"
				placeholder="Your Email Address"
				required
			/>
			<label for="message" class="label-contact-us">Message</label>
			<textarea class="textarea-contactus"
				rows="5"
				placeholder="Your Message"
				id="message"
				name="message"
				required
			></textarea>
			<!--<a href="javascript:void(0)">--><button class="mt-4"
				type="submit"
				id="submit"
				name="submit"
			>Send</button><!--</a>-->

		</form>
		<div id="error"></div>
		<div id="success-msg"></div>
	</div>
</div>

<!-- Image credit: Oliver Sjöström https://www.pexels.com/photo/body-of-water-near-green-mountain-931018/  -->