<div class="container">
  <div class="row">
    <div class="col text-center mt-4">
      <img src={{currentUser.image}} class="rounded-circle border border-3 m-4" width="200" alt={{currentUser.Username}} referrerpolicy="no-referrer">
      <h2>Hi {{currentUser.Username}}, welcome to your profile!</h2>
      <h3>Roll: {{currentUser.roll}}</h3>
      <hr class="my-4">
    </div>
  </div>
</div>